@import url('./style.css');

#logo:hover{
   border: 3px inset rgb(227, 227, 227);
  

transition: border .18s;
}
#logo{
    width: 30%;  
}

#ulNav{

    display: flex;
    justify-content: space-between;
}
.containerLogin{
    
    border: 0.2px inset rgb(235, 234, 234);
    border-radius: 5%;
    margin: 9em;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 18em;
    box-shadow:
    8.6px 11.3px 5.7px rgba(0, 0, 0, 0.08),
    71.6px 94.5px 32.5px rgba(0, 0, 0, 0.051),
    94px 124px 80px rgba(0, 0, 0, 0.038);
    

}
.row{
    color: #fff;
    border: 6px outset #addbff;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(180deg, #5062f2 0%, #75acff 100%);
    border-radius: 5%;
    width: 100%;
    padding: 2em 0;
}

.btnLogin{
    border: 1px inset rgb(122, 122, 223);
    padding: 0.2em 1em;
    border-radius: 3%;
    color: #2d3676;
    font-size: large;
    background: radial-gradient(circle at left, #ffffff , #8f8f8f)
    }
    .btnLogin:hover{
        transition: border .30s;
        border: 9px outset rgb(127, 127, 127);
    }